<div fxLayout="row" fxLayoutAlign="center end" class="registroFormulario">
  <div class="divFormulario">
    <h1>Cadastro de usuários</h1>

    <mat-divider></mat-divider>

    <div class="formulario">
      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="40" fxLayoutAlign="center end">
            <div fxLayout="column">
              <div class="divFoto">
                <img hidden id="foto" src="#" width="350" height="300" />
              </div>

              <div fxLayoutAlign="center end">
                <input
                  hidden
                  type="file"
                  #fileInput
                  name="foto"
                  formControlName="foto"
                  required
                  
                />
                <br /><br /><br /><br />
                <button
                  type="button"
                  mat-stroked-button
                  color="primary"
                  (click)="fileInput.click()"
                >
                  Escolha a sua foto
                </button>

                <div
                  *ngIf="propriedade.foto.touched && propriedade.foto.invalid"
                >
                  <sup>*</sup> Escolha a sua foto
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
